html, body {
	min-width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-top;
	align-content: flex-start;
	font-size: 16px;
	font-family: sans-serif;
	background: #222228;
	color: #888888;
}

body, body * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	text-align: center;
}
