.editor {
	width: 100vw;
	min-height: calc( ~"100vh - 40px" );
	padding: 4rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	.line {
		width: 100%;
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 1.7;
		font-family: 'Inconsolata', sans-serif;

		&.current-line {
			background: rgba( 0,0,0, 0.3 );
		}
	}

	.margin {
		width: 64px;
		border-right: 1px solid #444444;

		.line { padding-right: 2rem; }
		.line-number { text-align: right; }
	}

	.content {
		flex: 1 0;

		.line { padding-left: 2rem; }
	}
}
