.titlebar {
	width: 100%;
	height: 40px;
	padding: 0 16px;
	display: flex;
	flex-flow: row nowrap;
	justify-contnent: space-between;
	align-items: center;
	-webkit-app-region: drag;

	.title {
		flex: 1 0;
		font-size: 16px;
		line-height: 1;
		color: #AAAAAA;
		font-weight: 300;
		letter-spacing: 0.1em;
		pointer-events: none;
		font-family: "Lato", sans-serif;
	}

	.titlebar-buttons {
		flex: 0 1 85px;
		display: flex;
		width: 96px;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		-webkit-app-region: no-drag;

		button {
			border: 0;
			outline: 0;
			background: transparent;
			color: #AAAAAA;
			font-size: 12px;
			padding: 0 4px;
			cursor: pointer;
			user-select: none;

			&#titlebar-btn-close { font-size: 16px; }

			&:hover { color: white; }
		}
	}
}
